body {
  padding: 10px 0;
  background-image: linear-gradient(315deg, #1f2833 0%, #0b0c10 104%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  color: #898b8e;
  height: 100%;
  width: 90%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
  backdrop-filter: blur(5px);
  z-index: 12;
  border-radius: 25px;
  margin: 5vh auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 18px;
}

/*navbar*/
.containers {
  margin: 10px 0 0 0;
  /* display: grid;
  grid-template-columns: 22% auto;
  row-gap: 20px; */
}

.containers .sidebar {
  margin: 20px 0 20px 20px;
  /* background: rgba( 255, 255, 255, 0.2 ); */

  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 14px;
  /* width: 23; */
  padding: 10px;
  margin-left: 30px;
  margin-top: 60px;
}

.containers .sidebar ul {
  padding: 0;
  margin: 0;
}
.containers .sidebar ul li {
  padding: 10px 10px;
  margin: 10px 0;
  list-style: none;
}

.containers .sidebar ul li:hover {
  background: #66fcf1;
  border-radius: 8px;
}

.containers .sidebar ul li a {
  text-decoration: none;
  color: #48494b;
  text-transform: capitalize;
  font-weight: bolder;
}

.containers .sidebar ul li:hover a {
  color: #1f2833;
}

.containers .sidebar ul .active {
  background: #66fcf1;
  border-radius: 8px;
  padding: 10px;
}

.containers .sidebar ul .active a {
  color: #1f2833;
}
/*heading*/
.heading {
  padding: 0px 0;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  /* grid-column-start: 1;
  grid-column-end: 2; */
  margin: 30px 0 0px 20px;
}
.heading a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

/*Dashboard*/
.glass {
  /* display: flex; */
  width: 70%;
  color: #ecf0f1;
  border-radius: 25px;
  /* padding: 20px; */
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  backdrop-filter: blur(10px);
  margin-top: 10px;
}
.container {
  margin: 30px 0 10px 20px;
  width: 71%;
  padding-bottom: 0px;
}
.view {
  margin-bottom: 0;
  overflow-y: scroll;
  height: 400px;
  -ms-overflow-style: none;
  scrollbar-width: 0px;
}
.view::-webkit-scrollbar {
  display: none;
}
.member {
  margin-bottom: 10px;
  overflow-y: scroll;
  height: 400px;
  -ms-overflow-style: none;
}
.member::-webkit-scrollbar {
  display: none;
}
/*form*/
.form {
  margin: 30px 0 10px 20px;
  width: 100%;
  padding-bottom: 0px;
}
.form label {
  color: black;
  /* font-weight: bold; */
  font-size: 14px;
  display: block;
}
.form input {
  width: 80%;
  color: #1f2833;
  font-weight: bolder;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: transparent;
}
.btn:hover {
  background-color: #66fcf1;
  color: #1f2833;
}
.btn {
  background-color: #1f2833;
  color: #66fcf1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*error*/


button.close {
  /* -webkit-appearance: none; */
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.alert_success {
  background-color: #09c97f;
  border: 2px solid #09c97f;
}

.fade_success {
  background-color: #c9ffe5;
  border: 1px solid #09c97f;
}
.fade_success .close {
  color: #09c97f;
}
.fade_success strong {
  color: #09c97f;
}
.fade_warning {
  background-color: #fff0cc;
  border: 1px solid #f8b15d;
}

